@font-face {
    font-family: "My Custom Font";
    src: url(fonts/sansation/Sansation_Regular.ttf) format("truetype");
}
html {
    margin:0;

}
body{
    position:relative;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: "My Custom Font", Verdana, Tahoma;

}
body:after{
    position:fixed;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
}
.Text h1{
    padding-bottom: 30px;
}
.Text p{
    padding-bottom: 30px;
}
.Text hr{
    padding-bottom: 30px;
}
.col-md-4{
    padding-bottom: 50px;
}


/* ============================================================
  Recent Projects effects.
============================================================ */
/*One Picture*/
.effects1 {
    padding-left: 15px;
}
.effects1 .img {
    position: relative;
    float: left;
    margin-bottom: 20px;
    width: 25%;
    overflow: hidden;
}
.effects1 .img:nth-child(n) {
    margin-right: 0;
}
.effects1 .img:first-child {
    margin-left: 37.5%;
}
.effects1 .img:last-child {
    margin-right: 0;
}
.effects1 .img img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}
.effects1 .img p{
    text-align: center;
    color: white;
    font-size: 25px;
}

/*Three pictures*/
.effects {
    padding-left: 15px;
}
.effects .img {
    position: relative;
    float: left;
    margin-bottom: 40px;
    width: 25%;
    overflow: hidden;
}
.effects .img:nth-child(n) {
    margin-right: 5%;
}
.effects .img:first-child {
    margin-left: 7.5%;
}
.effects .img:last-child {
    margin-right: 0;
}
.effects .img img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}
.effects .img p{
    text-align: center;
    color: white;
    font-size: 25px;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

a.close-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
}
a.close-overlay.hidden {
    display: none;
}

a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 60px;
    border: solid 5px white;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 45px;
    font-weight: 700;
    font-size: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
a.expand:hover{
    color: gray;
    border-color: gray;
}
#effect-5 .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
#effect-5 .overlay a.expand {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#effect-5 .img.hover .overlay {
    opacity: 1;
}
#effect-5 .img.hover .overlay a.expand {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
/* ============================================================
  Recent Projects effects END.
============================================================ */



.HireMe{
    width: 100%;
    margin-bottom: -50px;
    background-color: #222222;
    text-align:center;
    height: 80px;
    font-size: 20px;
    color: white;
    opacity: .95;
}
.HireMe p{
    padding-top: 15px;
}
.HireMe button{
    background-color: #222222;
    border-color: white;
    height: 50px;
}
.HireMe button:hover{
    color: #a6a2a0;
    border-color: #a6a2a0;
}
.Text{
    color: black;
    margin: auto;
    font-size: 16px;
    text-align: center;
}
.ID-Me{
    text-align: center;
}
.ID-Me img{
    height: 300px;
}
.Languages{
    padding-bottom: 20px;
}
.Languages .row img{
    height: 40px;
    width: auto;
}

/*Footer stuff*/
footer{
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    color:white;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background-color: rgba(0,0,0,.9);
}
footer h4 a:hover, footer p a:hover{
    color: #a6a2a0;
    text-decoration: none;
}
footer a{
    color: white;
}
#wrapper {
    width: 100%;
    max-width: 980px;
    margin: auto;
}
.footerFloat {
    width: auto;
    display: inline-block;

}
/*=================================
            Six Images
===================================*/
#img_cont {
    display: table;
    width: 95%;
    margin: 0 auto 50px;

}

#img_cont a {
    display: table-cell;
    text-align: center;
    width: 16%;
}

#img_cont img {
    width: 100%;
    max-width: 150px;
    height: auto;
    overflow: hidden;
}
/*=================================*/


/*navbar stuff*/
/*Mobile vs Desktop*/
@media (min-width: 300px) {
    footer p{
        margin-top: 7vh;
        margin-bottom: 5px;
        bottom: 10px;
        width: 100%;
    }
    .footerFloat{
        margin-left: 5px;
        margin-right: 5px;
    }
    .cover-background {
        background-image: url(Images/apple-iphone-smartphone-desk.jpg);
        background-size: 100%;
        overflow: scroll;
        height: 40vh
    }
    .cover-image{
        height: 375px;
        background-color: rgba(0,0,0,.7);
        z-index: -9999;

    }
    .navbar-brand{
        width: 0;
        display: none;
    }
    .logo img{
        position: absolute;
        width: 100px; /*the image width*/
        height: 100px; /*the image height*/
        left: 50%;
        top: 55%;
        margin-left: -50px; /*half the image width*/
        margin-top: -50px; /*half the image height*/
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }
    .Text{
        width: 95%;
    }
}

@media (min-width: 925px) {
    footer p{
        margin-top: 9.5vh;
        margin-bottom: 5px;
        bottom: 10px;
        width: 100%;
    }
    .footerFloat{
        margin-left: 50px;
        margin-right: 50px;
    }
    .cover-background {
        background-image: url(Images/apple-iphone-smartphone-desk.jpg);
        background-position-y: -300px;
        height: 50vh;
    }
    .cover-image{
        height: 50vh;
        background-color: rgba(0,0,0,.7);
        z-index: -9999;
        overflow: hidden;
    }
    .logo img{
        position: absolute;
        width: 150px; /*the image width*/
        height: 150px; /*the image height*/
        left: 50%;
        top: 50%;
        margin-left: -75px; /*half the image width*/
        margin-top: -75px; /*half the image height*/
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }
    /*Hovered dropdown background color*/
    .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        background-color: rgba(255,255,255,.1);
        border-radius: 3px;

    }
    .Text{
        width: 60%;
    }
}


/* navbar  background color and border color*/
.navbar-default {
    background-color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.5);
    z-index: 9999;
    border-radius: 0;

}
/*Main Text color and size*/

.navbar-default .navbar-nav > li > a{
    color: white;
    font-size: large;
    margin-left:10px;
    margin-right:10px;
}
/*Main Text highlight Color*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #a6a2a0;
}


/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

/*Selected Dropdown background Color*/
.dropdown .dropdown-menu{
    background-color: rgba(255,255,255,.1);
}
.dropdown:hover .dropdown-menu > li > a{
    color: white;
}
.dropdown .dropdown-menu > li > a{
    color: white;
}

/* Dropdown hover color*/
.dropdown:hover .dropdown-menu > li > a:hover{
    background-color: rgba(0,0,0,0);
    color: #a6a2a0;
}

/*clicked dropdown background color and text color*/
.navbar .nav > li.dropdown.open > .dropdown-toggle,
.navbar .nav > li.dropdown.active > .dropdown-toggle,
.navbar .nav > li.dropdown.open.active > .dropdown-toggle{
    color: white;
    text-decoration: underline;
    background: rgba(0,0,0,0);

}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}


/*contact form stuff*/
#contact-form input, textarea{
    background-color: white;
    opacity: .8;
    color: black;
    border-color: gray;
}
#contact-form .submit-button{
    border-color: #222222;
}
input, textarea{
    max-width: 100%;
}