html {
    background: url(technology-791030_640.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav{
    opacity: 0.9; /* opacity [0-1] */
    -moz-opacity: 0.9; /* opacity [0-1] */
    -webkit-opacity: 0.9; /* opacity [0-1] */
}
.Languages .container .row .col-xs-2{
    text-align: center;
}
.Languages .container .row .col-xs-2 img{
    height: 100px;
    width: auto;
}
.ID-Me{
    text-align: center;
}
.Languages{
    text-align: center;
}
.Languages img{
    height: 100px;
    width: auto;
}
.Text{
    text-align: center;
}
footer{
    text-align: center;
    padding-top: 10px;
    color:white;
    bottom: 0;
    width: 100%;
    height: 160px;
    opacity: .85;
    background-color: #222222;

}
footer h4 a:hover, footer p a:hover{
    color: #a6a2a0;
}
footer a{
    color: white;
}

#wrapper {
    width: 100%;
    max-width: 980px;
    margin: auto;
}


.footerFloat {
    width: 25%;
    float: left;
}

nav h1{
    color: black;
    margin: 5px;
    text-align: center;
}
body{
    position:relative;
    background-color: rgba(255,255,255,.5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    margin:0;
}
body:after{
    position:fixed;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(255,255,255,0.5);
    z-index:-1;
}
.Text{
    color: black;
    margin-left: 10px;
    margin-right: 15px;
    font-size: large;
    text-align: center;
}
p{
    margin: 10px;
}

.carousel-caption > p {
    width: 500px;
    margin: auto;

}
.authors a{
    color:black;
    font-size: x-large;
    height: 150px;
}
.authors p{
    color: black;
}
.row img{
    height: auto;
    width: 100%;
    margin-left: -7px;
    border-radius: 15px;
}
.authors .row img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.Text a{
    color: black;
    font-size: xx-large;
}

.mainText p{
    margin-left: 10px;
    margin-right: 10px;
}
hr{
    margin-top: 0px;
    margin-bottom: 5px;
    border: .5px solid black;
}

/* navbar  background color and border color*/
.navbar-default {
    background-color: #222222;
    border-color: #222222;
    z-index: 9999;
    border-radius: 0px;
}

/*Main Text color and size*/
.navbar-default .navbar-nav > li > a{
    color: white;
    font-size: large;
    margin-left:10px;
    margin-right:10px;
}

/*Main Text highlight Color*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #a6a2a0;
}


/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

/* Hovered dropdown background color*/
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    background-color: #222222;
}

/*Selected Dropdown background Color*/
.dropdown .dropdown-menu{
    background-color: #222222;
}

.dropdown:hover .dropdown-menu > li > a{
    color: white;
}
.dropdown .dropdown-menu > li > a{
    color: white;
}
/* Dropdown hover color*/
.dropdown:hover .dropdown-menu > li > a:hover{
    background-color: #222222;
    color: #a6a2a0;
}

/*clicked dropdown background color and text color*/
.navbar .nav > li.dropdown.open > .dropdown-toggle,
.navbar .nav > li.dropdown.active > .dropdown-toggle,
.navbar .nav > li.dropdown.open.active > .dropdown-toggle{
    color: white;
    text-decoration: underline;
    background: #222222;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}



