@font-face {
    font-family: "My Custom Font";
    src: url(fonts/sansation/Sansation_Regular.ttf) format("truetype");
}
html {
    margin:0;

}
body{
    position:relative;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: "My Custom Font", Verdana, Tahoma;

}
body:after{
    position:fixed;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
}
.Text{
    color: black;
    margin: auto;
    font-size: 16px;
    text-align: center;
}
.Text h1{
    padding-bottom: 30px;
}
.Text p{
    padding-bottom: 30px;
}
.Text hr{
    padding-bottom: 30px;
}
.Languages{
    padding-bottom: 20px;
    text-align: center;
}
.Languages .row img{
    height: 40px;
    width: auto;
}

/*Footer stuff*/
footer{
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    color:white;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background-color: rgba(0,0,0,.9);
}
footer h4 a:hover, footer p a:hover{
    color: #a6a2a0;
    text-decoration: none;
}
footer a{
    color: white;
}
#wrapper {
    width: 100%;
    max-width: 980px;
    margin: auto;
}
.footerFloat {
    width: auto;
    display: inline-block;

}
.ID-Me{
    text-align: center;
}
.ID-Me img{
    height: 300px;
}

/*navbar stuff*/
/*Mobile vs Desktop*/
@media (min-width: 300px) {

    footer p{
        margin-top: 7vh;
        margin-bottom: 5px;
        bottom: 10px;
        width: 100%;
    }
    .footerFloat{
        margin-left: 5px;
        margin-right: 5px;
    }
    .cover-background {
        background-image: url(Images/apple-iphone-smartphone-desk.jpg);
        background-size: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        height: 40vh
    }
    .cover-image{
        height: 375px;
        background-color: rgba(0,0,0,.7);
        z-index: -9999;

    }
    .navbar-brand{
        width: 0;
        display: none;
    }
    .logo img{
        position: absolute;
        width: 100px; /*the image width*/
        height: 100px; /*the image height*/
        left: 50%;
        top: 55%;
        margin-left: -50px; /*half the image width*/
        margin-top: -50px; /*half the image height*/
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }
    .Text{
        width: 95%;
    }
}

@media (min-width: 925px) {

    footer p{
        margin-top: 9.5vh;
        margin-bottom: 5px;
        bottom: 10px;
        width: 100%;
    }
    .footerFloat{
        margin-left: 50px;
        margin-right: 50px;
    }
    .cover-background {
        background-image: url(Images/apple-iphone-smartphone-desk.jpg);
        background-position-y: -300px;
        height: 50vh;
    }
    .cover-image{
        height: 50vh;
        background-color: rgba(0,0,0,.7);
        z-index: -9999;
        overflow: hidden;
    }
    .logo img{
        position: absolute;
        width: 150px; /*the image width*/
        height: 150px; /*the image height*/
        left: 50%;
        top: 50%;
        margin-left: -75px; /*half the image width*/
        margin-top: -75px; /*half the image height*/
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }
    /*Hovered dropdown background color*/
    .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        background-color: rgba(255,255,255,.1);
        border-radius: 3px;

    }
    .Text{
        width: 60%;
    }
}


/* navbar  background color and border color*/
.navbar-default {
    background-color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.5);
    z-index: 9999;
    border-radius: 0;

}
/*Main Text color and size*/

.navbar-default .navbar-nav > li > a{
    color: white;
    font-size: large;
    margin-left:10px;
    margin-right:10px;
}
/*Main Text highlight Color*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #a6a2a0;
}


/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

/*Selected Dropdown background Color*/
.dropdown .dropdown-menu{
    background-color: rgba(255,255,255,.1);
}
.dropdown:hover .dropdown-menu > li > a{
    color: white;
}
.dropdown .dropdown-menu > li > a{
    color: white;
}

/* Dropdown hover color*/
.dropdown:hover .dropdown-menu > li > a:hover{
    background-color: rgba(0,0,0,0);
    color: #a6a2a0;
}

/*clicked dropdown background color and text color*/
.navbar .nav > li.dropdown.open > .dropdown-toggle,
.navbar .nav > li.dropdown.active > .dropdown-toggle,
.navbar .nav > li.dropdown.open.active > .dropdown-toggle{
    color: white;
    text-decoration: underline;
    background: rgba(0,0,0,0);

}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}


/*contact form stuff*/
#contact-form input, textarea{
    background-color: white;
    opacity: .8;
    color: black;
    border-color: gray;
    border-radius: 5px;
}
#contact-form .submit-button{
    border-color: #222222;
}
input, textarea{
    max-width: 100%;
}